<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    <script
      src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"
      async=""
    ></script>
    <!--<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "c9120518-ffa5-4995-8d85-2b755ed20c26",
    });
  });
</script>-->
    <script
      type="text/javascript"
      async
      src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/9e64c364-a83e-4a7d-9a73-c0381ee91783-loader.js"
    ></script>
    <!-- Google Tag Manager -->
    <script>
      ;(function(w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-M2VTXP6')
    </script>
    <!-- Start of brasilparalelo Zendesk Widget script -->
    <script
      id="ze-snippet"
      src="https://static.zdassets.com/ekr/snippet.js?key=02be51ef-3604-4344-8a4a-99f681a90e20"
    ></script>
    <!-- End of brasilparalelo Zendesk Widget script -->

    <!-- End Google Tag Manager -->
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M2VTXP6"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ APP }}
  </body>
</html>
