.Color1 {
    color: $Color1;
}

.Color2 {
    color: $Color2;
}

.Color3 {
    color: $Color3;
}

.Color4 {
    color: $Color4;
}
.Color5 {
    color: $Color5;
}

.Color6 {
    color: $Color6;
}

.Color7 {
    color: $Color7;
}

.Color8 {
    color: $Color8;
}

.Color9{
    color: $Color9;
}

.Color10{
    color: $Color10;
}

.Color11{
    color: $Color11;
}

.Color12{
    color: $Color12;
}
.Color13{
    color: $Color13;
}
.Color14{
    color: $Color14;
}

.background1 {
    background-color: $Color9;
}