.font-medium {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-roman {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-bold75 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fontTextMedium {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 500;
    font-style: normal; 
}