.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  @media (min-width: 1300px) {
    .container {
      width: 1250px;
    }
  }
  @media (min-width: 1800px) {
    .container {
      width: 1700px;
    }
  }

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-direction {
    flex-direction: row;
    flex-wrap: wrap;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
    justify-content: center;
}

.end {
    justify-content: end;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.textCenter {
    text-align: center;
}

a {
    text-decoration:none; 
    display: inline-block;
}

.button{
    border-radius: 43px;
    border: 2px solid;
    padding: 8px 10px;
    width: 200px;
    @media all and (min-width: 1200px) {
      width: 260px;
      padding: 10px;
    }
}


*,*:before,*.after{
    box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}