.text_tam_9 {
    font-size: 9px;;
}

.text_tam_13 {
    font-size: 13px;;
}

.text_tam_16 {
    font-size: 16px;

}

.text_tam_15 {
    font-size: 15px;
}

.text_tam_19 {
    font-size: 19px;
}

.text_tam_20 {
    font-size: 20px;
}

.text_tam_22 {
    font-size: 15px;    
}

.text_tam_24 {
    font-size: 24px;
}

.text_tam_25 {
    font-size: 25px;
}

.text_tam_32 {
    font-size: 25px;    
    
}

.text_tam_33 {
    font-size: 33px;
}
@media all and (min-width: 1200px) {

    .text_tam_13 {
        font-size: 25px;
    }
    
    .text_tam_16 {
        font-size: 23px;
    }
    
    .text_tam_15 {
        font-size: 23px;
    }
    
    .text_tam_19 {
        font-size: 16px;
    }
    
    .text_tam_20 {
        font-size: 30px;
    }
    
    .text_tam_22 {
        font-size: 22px;
    }
    
    .text_tam_24 {
        font-size: 35px;
    }
    
    .text_tam_25 {
        font-size: 35px;
    }
    
    .text_tam_32 {
        font-size: 54px;
        line-height: 1em;
        
    }
    .text_tam_33 {
        font-size: 33px;
    }
}
@media all and (min-width: 1400px) {

    .text_tam_13 {
        font-size: 25px;
    }
    
    .text_tam_16 {
        font-size: 23px;
    }
    
    .text_tam_15 {
        font-size: 23px;
    }
    
    .text_tam_19 {
        font-size: 16px;
    }
    
    .text_tam_20 {
        font-size: 30px;
    }
    
    .text_tam_22 {
        font-size: 22px;
    }
    
    .text_tam_24 {
        font-size: 45px;
    }
    
    .text_tam_25 {
        font-size: 45px;
    }
    
    .text_tam_32 {
        font-size: 64px;
        line-height: 1em;
        
    }
    .text_tam_33 {
        font-size: 33px;
    }
}



