<template>
  <div class="beneficio">
        <div class="beneficio-content">
            <div class="icone">
                <img :src="icone" alt="">          
            </div>
            <div class="nome Color13 text_tam_13 fontTextMedium">{{nome}}</div>
            <div class="descricao Color14 text_tam_9 font-roman">{{descricao}}</div>
        </div>
  </div>
</template>

<script>
export default {
    props: [
        "icone",
        "nome",
        "descricao"
    ]
}
</script>

<style lang="scss" scoped>
    .beneficio {
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-items: center;
        background-color: #fff;
        text-align: center;
        padding: 15px 20px;
        width: calc(50% - 5px);
        min-height: 175px;
        @media all and (min-width: 1200px) {
            min-height: 220px;
        }
        .beneficio-content {            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;      
            height: 100%; 

        }
        .nome {
            line-height: 14px;
            padding: 10px 0;
            font-size: 13px;
            @media all and (min-width: 1200px) {
                font-size: 22px;
                line-height: 1em;
            }
        }
        .descricao {
            font-weight: normal;
            font-size: 11px;
            line-height: 10px;
            @media all and (min-width: 1200px) {
                font-size: 15px;
                line-height: 1em;
            }
        }
        .icone {
            max-width: 40px;
            @media all and (min-width: 1200px) {
                max-width: 80px;
                margin: 0 auto;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
</style>