<template>
  <section class="background1 esp_final">
    <div class="container">
      <div class="diminuir_esp textCenter flex flex-column center ">
        <a
          href="https://pay.hotmart.com/L8182566P?off=5kney1ro&checkoutMode=10&split=12"
          target="_blank"
          class="Color11 button text_tam_20
                "
        >
          Acesse agora >
        </a>
        <span class="Color5 text_tam_24  font-medium esp_text_nucleo esp_button"
          >Você está a um passo</span
        >
        <p class="Color10 esp_text_nucleo text_tam_15 font-roman">
          Assine agora e receba imediatamente.
        </p>
        <div class="traco"></div>
      </div>

      <div class="lista">
        <div class="listaBeneficios">
          <Beneficio
            v-for="(b, i) in benef1"
            :key="i"
            :icone="b.icone"
            :nome="b.nome"
            :descricao="b.descricao"
          />
        </div>
        <div class="listaBeneficios">
          <Beneficio
            v-for="(b, i) in benef2"
            :key="i"
            :icone="b.icone"
            :nome="b.nome"
            :descricao="b.descricao"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Beneficio from './Beneficio'
export default {
  name: 'BeneficiosAssinatura',
  components: {
    Beneficio
  },
  methods: {
    image(nome) {
      return require(`./assets/${nome}`)
    }
  },
  data() {
    return {
      benef1: [
        {
          icone: this.image('spinner.png'),
          nome: 'Programas exclusivos',
          descricao: 'Conteúdos inéditos toda semana'
        },
        {
          icone: this.image('monitor.png'),
          nome: 'Conteúdos 100% online',
          descricao: 'Assista quando e onde quiser.'
        },
        {
          icone: this.image('share.png'),
          nome: 'Comunidade de Membros',
          descricao:
            'Interaja na plataforma e nas redes sociais com os Membros da BP'
        },
        {
          icone: this.image('map.png'),
          nome: 'Eventos presenciais',
          descricao: 'Encontros presenciais e exclusivos para Membros.'
        }
      ],
      benef2: [
        {
          icone: this.image('volume.png'),
          nome: 'Ouça, assista e leia o conteúdo das aulas',
          descricao: 'e-Books e áudios de apoio.'
        },
        {
          icone: this.image('video.png'),
          nome: '+300 horas de conteúdo',
          descricao:
            'O maior acervo audiovisual já produzido sobre educação política.'
        },
        {
          icone: this.image('heart.png'),
          nome: 'Impacto social',
          descricao:
            'Parte das nossas produções são lançadas gratuitamente e já foram assistidas por + 17 milhões de pessoas.'
        },
        {
          icone: this.image('image.png'),
          nome: 'Edutainment',
          descricao: 'A fusão de arte com educação é a nossa forma de educar.'
        }
      ]
    }
  }
}
</script>
<style lang="css">
@import url('https://use.typekit.net/eup5jcd.css');
</style>
<style lang="scss">
.listaBeneficios {
  display: flex;
  flex-wrap: wrap;
  .beneficio {
    margin: 6px 0 0 0;
    &:nth-child(odd) {
      margin-right: 6px;
    }
  }
  @media all and (min-width: 1200px) {
    width: calc(100% / 2);
  }
}
.esp_button {
  padding: 50px 0 0 0;
}

.diminuir_esp {
  padding: 34px 30px 22px 30px;
}

a:hover {
  color: #606060;
}

.esp_final {
  padding: 0 0 70px 0;
}

@media all and (min-width: 1200px) {
  .lista {
    display: flex;
  }
}
</style>
