<template>
  <div class="cinema flex center flex-column textCenter">      
      <div class="container margin_cinema">
          <p class="Color1 font-bold75 text_tam_25">Conteúdo com<br>qualidade de cinema</p>
          <!-- <p class="Color3 font-medium text_tam_20 esp_cinema">Estude por 7 dias grátis</p> -->
          <a href="https://pay.hotmart.com/L8182566P?off=5kney1ro&checkoutMode=10&split=12" target="_blank" class="Color6 text_tam_16 font-medium">Comece agora ></a>
      </div>
  </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
   .cinema {
        background-image: url(./assets/CinemaCelular.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 538px;

        @media all and (min-width: 1200px) {
            background-image: url(../Transmissao/assets/CinemaNotebook.png);
        }
   }
   .esp_cinema {
       padding: 23px 0 38px 0;
   }

   .margin_cinema {
       margin: -90px 0 0 0;
   }
</style>