<template>
    <section class="comentarios">
        <div class="container">
            <div class="lista-comentarios">
                <carousel
                :perPageCustom="[[100, 1], [480, 2]]"
                :scrollPerPage="false"
                :navigationEnabled="true"
                :paginationEnabled="false"
                :navigationNextLabel="nextImage"
                :navigationPrevLabel="backImage"
                >
                    <slide v-for="(c,i) in comentarios" :key="i">
                        <Comentario :coment="c"/>
                    </slide>
                </carousel>
            </div>
        </div>
    </section>
</template>

<script>
import Comentario from './Comentario';
export default {
    components: {
        Comentario
    },
    computed: {
        nextImage() {
            return `<img src="${require('./assets/direita.png')}"/>`
        },
        backImage() {
            return `<img class="back" src="${require('./assets/direita.png')}"/>`
        },
    },
    data() {
        return {
            comentarios: [
                {
                    comentario: 'Aqui vai um comentário de algum palestrante ou personalidade sobre a Brasil Paralelo.',
                    nome: 'Palestrante Brasil Paralelo.',
                    imagem: require('./assets/avatar.png')
                },
                {
                    comentario: 'Aqui vai um comentário de algum palestrante ou personalidade sobre a Brasil Paralelo.',
                    nome: 'Palestrante Brasil Paralelo.',
                    imagem: require('./assets/avatar.png')
                },
                {
                    comentario: 'Aqui vai um comentário de algum palestrante ou personalidade sobre a Brasil Paralelo.',
                    nome: 'Palestrante Brasil Paralelo.',
                    imagem: require('./assets/avatar.png')
                },
            ]
        }
    }
}
</script>

<style scoped lang="scss">
    .comentarios {
        margin-top: 30px;
        .lista-comentarios { 
            @media only screen and (min-width: 1000px)  {
                max-width: 75%;
                margin: 0 auto;
            }
            
        }
    }
</style>