<template>
    <div class="comentario">
        <div class="content textCenter">
            <div class="avatar">
                <img :src="coment.imagem" alt="">
            </div>
            <div class="aspas">
                <img src="./assets/aspas.jpg" alt="">
            </div>
            <div class="comentario-text">
                {{coment.comentario}}
            </div>
            <div class="nome">
                {{coment.nome}}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['coment'],
}
</script>

<style scoped lang="scss">
    .comentario {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 300px;
        position: relative;
        background: #fff;
        padding: 20px;
        @media only screen and (min-width: 1000px) {
            margin: 5px;
            max-width: 450px;
        }
        .content {
            max-width: 85%;
            margin: 0 auto;                       
            height: 100%;
            .comentario-text {
                font-weight: 600;
                margin: 25px 0;
                font-size: 18px;
                @media only screen and (min-width: 1000px) {
                    max-width: 70%;
                    margin: 25px auto;
                    font-size: 22px;
                }
            }
            .nome {
                font-weight: 500;
                font-size: 13px;
                @media only screen and (min-width: 1000px) {          
                    font-size: 16px;
                }
            }
            .avatar {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 60px;
                height: 60px;
            }
        }
    }
    
</style>