<template>
  <section> 
    <div class="textCenter background1">
      <div class="esp_text container">
        <h2 class="Color5 font-medium text_tam_24">Tenha acesso a tudo que a Brasil Paralelo oferece</h2>
        <p class="Color4 esp_text_nucleo font-roman text_tam_15">Torne-se Membro e acesse a maior plataforma de educação política do país.</p>
        <div class="traco"></div>
      </div>
    </div>
    
    <div class="flex flex-direction conteudos-cards container">
      <div class="background-cards cursos flex flex-column">                
        <div class="card-content">
          <span class="Color2 text_tam_33 font-bold75 ">Núcleo de<br>Formação</span>
          <p class="Color7 font-roman">Cursos exclusivos sobre as grandes ideias da humanidade.</p>
          <a href="#cursos" class="Color8 text_tam_19  font-roman">Conheça nossos cursos ></a>
        </div>                
      </div>             
      
      <div class="background-cards investigacao flex flex-column">
        <div class="card-content">
          <span class="Color2 text_tam_33 font-bold75 ">Investigação<br>Paralela</span>
          <p class="Color7 font-roman">Reportagens independentes sobre casos que a mídia arquivou  sem solução.</p>
        </div>
      </div>             

      <div class="background-cards entrevistas flex flex-column">
        <div class="card-content">
          <span class="Color2 text_tam_33 font-bold75">Entrevistas</span>
          <p class="Color7  font-roman">+ de 300 entrevistas exclusivas.</p>
          <a href="#entrevistados" class="Color8 text_tam_19  font-roman">Conheça nossos entrevistados ></a>
        </div>
      </div>            

      <div class="background-cards mesaRedonda flex flex-column">
        <div class="card-content">
          <span class="Color2 text_tam_33 font-bold75">Mesa<br>Redonda</span>
          <p class="Color7 font-roman">Uma opinião comum vira alvo de debate: será que tem consenso?</p>
        </div>
      </div>

    </div>
    
  </section>
</template>

<script>
  export default {
    name: "ConteudosBP"
  }
</script>

<style lang="scss">

.esp_text {
  padding: 34px 15px 22px 15px;
  @media all and (min-width: 1200px) {
    padding: 60px 180px 35px 180px;
    font-size: 2em;
  }
}

.esp_text_nucleo {
  padding: 14px 0 16px 0;
}

.esp_text_nucleo2 {
  padding: 12px 0 44px 0;
}
.esp_text_nucleo3 {
 padding: 12px 0 90px 0;
}

.traco {
  background-color: $Color12;
  height: 1px;
  width: 52px;
  display: block;
  margin: 0 auto;
}
.conteudos-cards {
  .background-cards {            
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 562px;            
    width: 100%;            
    position: relative;
    border-bottom: 12px solid $Color9;
    justify-content: flex-end;
    &:before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 65%;
      z-index: 2;
      background-color: #000;            
      background: linear-gradient(rgba(29, 29, 29, 0) 0%, rgba(1, 1, 1, 0.93) 62.8%, rgba(0, 0, 0, 0.98) 100%);

    }
    span {
      line-height: 1em;
      margin-bottom: 20px;
    }
    .card-content {
      z-index: 3;
      max-width: 271px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding-bottom: 20%;
    }
    @media only screen and (min-width: 1200px) {
      width: calc(100%/4 - 15px);
      height: 510px;
      &:not(:last-child) {
        margin-right: 15px;
      }
      .card-content {
        max-width: 88%;
        height: 40%;                
      }
    }
  }
}

.cursos {
  background-image: url(./assets/img-nucleoCel.jpg);
}

.investigacao {
  background-image: url(./assets/img-investigacaoCel.jpg);
}

.entrevistas {
  background-image: url(./assets/img-entrevistasCel.jpg);
}

.mesaRedonda {
  background-image: url(./assets/img-mesaRedondaCel.jpg);
}
@media only screen and (min-width: 1200px) {
  .cursos {
    background-image: url(./assets/img-nucleo.jpg);
  }

  .investigacao {
    background-image: url(./assets/img-investigacao.jpg);
  }

  .entrevistas {
    background-image: url(./assets/img-entrevistas.jpg);
  }

  .mesaRedonda {
    background-image: url(./assets/img-mesaRedonda.jpg);
  }
}

</style>