<template>    
    <div class="curso">
        <div class="img-curso">
            <img :src="imgCurso" alt="">          
        </div>
    </div>    
</template>

<script>
export default {
    props: [
            "imgCurso",
    ]
}
</script>

<style lang="scss">
    .curso{
        width: calc(50% - 4px);
        
        @media only screen and (min-width: 1000px) {            
            width: calc((100%/4) - (4* 5px));
        }
    }    

</style>