<template>
    <section id="cursos">
        <div class="background1">

            <div class="container textCenter esp_text_Depoimentos"> 
                <p class="title Color5 text_tam_24 font-medium">Conheça os cursos que você terá acesso</p>
                 <p class="subtitle Color10 esp_text_nucleo text_tam_15 font-roman">Toda semana uma aula inédita. Todo mês um novo curso.</p>
                <div class="traco"></div>
            </div>

           <div class="container cursos-content">
                <div class="listaCursos">
                    <Curso
                        v-for="(b,i) in curso1" 
                        :key="i" 
                        :imgCurso="b.icone"
                    />
                </div>
                <div class="listaCursos">
                    <Curso
                        v-for="(b,i) in curso2" 
                        :key="i" 
                        :imgCurso="b.icone"
                    />
                </div> 
                <div class="listaCursos">
                    <Curso
                        v-for="(b,i) in curso3" 
                        :key="i" 
                        :imgCurso="b.icone"
                    />
                </div>
           </div>

        </div>
    </section>
</template>

<script>
import Curso from "./Curso";
export default {
    name: "Cursos",
    components: {
        Curso
    },
    methods: {
        image(nome) {
            return require(`./assets/${nome}`)
        }
    },
    data () {
        return {
            curso1: [
                {
                    icone: this.image('Capa1.png'),
                },
                {
                    icone: this.image('Capa2.png'),
                },
                {
                    icone: this.image('Capa3.png'),
                },
                {
                    icone: this.image('Capa4.png'),
                },
            ],
            curso2: [
                {
                    icone: this.image('Capa5.png'),
                },
                {
                    icone: this.image('Capa6.png'),
                },
                {
                    icone: this.image('Capa7.png'),
                },
                {
                    icone: this.image('Capa8.png'),
                },
            ],
            curso3: [
                {
                    icone: this.image('Capa9.png'),
                },
                 {
                    icone: this.image('Capa10.png'),
                },
            ]
        }
    }   
}
</script>

<style lang="scss" scoped>    
    .title, .subtitle {
        max-width: 280px;
        @media only screen and (min-width: 1000px) {
            max-width: 600px;
        }
        margin: 0 auto;
    }
    .listaCursos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
        .curso {
            margin: 2px;
            @media only screen and (min-width: 1000px) {
                margin: 5px;
            }
        }
    }
</style>