<template>
    <section>
        <div class="background1 container">
            <div class="textCenter esp_text_Depoimentos"> 
                <span class="Color5 text_tam_24 font-medium">Depoimentos dos Membros</span>
                 <p class="Color10 esp_text_nucleo text_tam_15 font-roman">Opiniões sobre a Brasil Paralelo</p>
                <div class="traco"></div>
            </div>
        </div>
        <div class="container">
            <Video :videoId="'6z-4Qtm84pA'"/>
        </div>

    </section>
</template>

<script>
import Video from "@/components/Body/Video"
export default {
    components: {
        Video,
    }

}
</script>

<style>
    .esp_text_Depoimentos {
        padding: 60px 0 40px 0;
    }
</style>