<template>
    <section id="entrevistados" class="entrevistados">
        <div class="container">
            <div class="textCenter esp_text_Depoimentos"> 
                <span class="Color5 text_tam_24 font-medium">Conheça nossos entrevistados</span>
                <p class="Color10 esp_text_nucleo text_tam_15 font-roman">+ 300 entrevistas exclusivas</p>
                <div class="traco"></div>
            </div>
            <div class="lista-entrevistados">
                <Entrevistado :class="{hideMobile: isMobile && i > 3} ":entrevistado="e" v-for="(e,i) in entrevistados" :key="i"/>
            </div>
        </div>
    </section>
</template>

<script>
import Entrevistado from './Entrevistado'
 const requireImage = name => {
    return {
        jpg: require(`./assets/${name}.jpg`),
        webp: require(`./assets/${name}.webp`),
    }
  }

export default {
    components: {
        Entrevistado
    },
    computed: {
        isMobile() {
            if (process.client) {
                return window.screen.width < 500;
            }
            return false;
        }
    },
    data() {
        return {
            entrevistados: [
            {
                image: requireImage('luizphillipe'),
                name: 'Luiz Philippe O. Bragança',
                occupation: 'Cientista político ',
                videoId: '4bxGCryhnlY'
            },
            {
                image: requireImage('marcusboeira'),
                name: 'Marcus Boeira',
                occupation: ' Doutor e professor',
                videoId: 'uKqkIYDjsS0'
            },
            {
                image: requireImage('williamwaack'),
                name: 'William Waack',
                occupation: 'Jornalista',
                videoId: null
            },
            {
                image: requireImage('jorgecaldeira'),
                name: 'Jorge Caldeira',
                occupation: 'Escritor',
                videoId: null
            },
            {
                image: requireImage('heliobeltrao'),
                name: 'Hélio Beltrão',
                occupation: 'Administrador e economista',
                videoId: 'bVXsyu3Osqs'
            },
            {
                image: requireImage('adrianogianturco'),
                name: 'Adriano Gianturco',
                occupation: 'Professor',
                videoId: null
            },
            {
                image: requireImage('rafaelnogueira'),
                name: 'Rafael Nogueira',
                occupation: 'Professor e pesquisador',
                videoId: 's4hAOv8nC4U'
            },
            {
                image: requireImage('maispalestrantes'),
            }
        ],

        }
    }
}
</script>

<style scoped lang="scss">
    .entrevistados {
        .lista-entrevistados {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .hideMobile {
            display: none;
        }
    }
</style>