<template>
  <div class="entrevistado">
      <div class="img">
        <picture>
            <source :srcset="entrevistado.image.webp" type="image/webp"/>
            <img  class="TL_Picture" :src="entrevistado.image.jpg" :alt="entrevistado.name">
        </picture>          
      </div>
      <div class="texto textCenter">
            <div class="content">
                <div class="nome">
                    {{entrevistado.name}}
                </div>
                <div class="ocupacao">
                    {{entrevistado.occupation}}
                </div>
            </div>
      </div>
  </div>
</template>

<script>
export default {
    props:['entrevistado']
}
</script>

<style scoped lang="scss">
    .entrevistado {
        position: relative;
        width: calc(50% - 5px);
        margin: 2px;
        @media only screen and (min-width: 1000px) {
            width: calc(100% / 4 - 10px);
            margin: 5px;
        }
        img {
            width: 100%;
            height: auto;
            display: block;     
        }
        z-index: 1;
        .texto {
            .nome {
                font-weight: 700;
                margin-bottom: 25px;
                font-size: 30px;
                color: #F1F1F1;
            }
            .ocupacao {
                font-size: 22px;
                color: #D2D2D2;
            }
            padding: 20%;   
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.7);
            z-index: 2;
            opacity: 0;
            transition: opacity .3s ease-out;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover {
            .texto {
                opacity: 1;
                transition: opacity .3s ease-in;
            }
        }
    }
</style>