<template>
    <div class="lancamento">      
        <div class="img">
            <img :src="lancamento.imagem" alt="">
        </div>
        <div class="conteudo">
            <div>
                <div class="titulo">
                    {{lancamento.titulo}}
                </div>
                <div class="previsao">
                    <div class="previsao-label">
                        Previsão de lançamento:
                    </div>
                    <div class="previsao-data">
                        {{lancamento.previsao}}
                    </div>
                </div>
                <div class="descricao" v-html="lancamento.descricao">                
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['lancamento']
}
</script>
<style>
    .descricao p {
        margin: 20px 0;
    }
</style>
<style lang="scss">
    .lancamento {
        position: relative;
        display: flex;
        justify-content: flex-end;
        min-height: 270px;
        @media only screen and (min-width: 1000px) {
            min-height: 500px;
            margin-right: 30px;
        }
        .img {
            width: 131px;
            height: 189px;
            @media only screen and (min-width: 1000px) {                
                width: 242px;
                height: 360px;
            }
            position: absolute;
            top: calc(50% - 95px);
            @media only screen and (min-width: 1000px) {
                top: calc(50% - 185px);
            }
            left: 0;
            img {
                width: 100%;
                height: 100%;
            }            
            
        }
        .conteudo {
            padding: 5px;
            background: #fff;
            max-width: calc(100% - 65px);
            padding-left: 95px;
            
            @media only screen and (min-width: 1000px) {
                padding-left: 130px;
            }
            padding-right: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            @media only screen and (min-width: 1000px) {
                font-size: 16px;
            }

            .titulo {
                font-size: 18px;
                @media only screen and (min-width: 1000px) {
                    font-size: 28px;
                }
                font-weight: 600;
            }
            .previsao {
                margin: 20px 0;
            }
            .previsao-label {
                color: #999;
            }
            @media only screen and (min-width: 1000px) {
                max-width: calc(100% - 141px);
            }
        }
    }
</style>