<template>
  <section class="lancamentos">
    <div class="container">
      <div class="textCenter esp_text_Depoimentos"> 
        <span class="Color5 text_tam_24 font-medium">Próximos Lançamentos</span>
        <p class="Color10 esp_text_nucleo text_tam_15 font-roman">Documentários Brasil Paralelo.</p>
        <div class="traco"></div>
      </div>
      <carousel
      :perPageCustom="[[100, 1], [480, 2]]"
      :scrollPerPage="false"
      :navigationEnabled="true"
      :paginationEnabled="false"
      :navigationNextLabel="nextImage"
      :navigationPrevLabel="backImage"
      >
      <slide v-for="(l,i) in lancamentos" :key="i">
        <Lancamento :lancamento="l"/>
      </slide>
    </carousel>
  </div>
</section>
</template>

<script>
  import Lancamento from './Lancamento';
  export default {
    name: "Lancamentos",
    components: {
      Lancamento
    },
    computed: {
      nextImage() {
        return `<img src="${require('./assets/direita.png')}"/>`
      },
      backImage() {
        return `<img class="back" src="${require('./assets/direita.png')}"/>`
      },
    },
    data() {
      return {
        lancamentos:
        [
        {
          titulo: "A Pátria Educadora.",
          previsao: "Março de 2020",
          descricao: `
          <p>
          Uma equipe corajosa empreende uma investigação para saber o porquê da educação do Brasil estar tão ruim.
          </p>

          <p>Uma história que passa por muitos dados e dezenas de entrevistados nos leva a uma retomada histórica com uma triste descoberta: os bandidos são os verdadeiros donos da nossa escola.</p>
          `,
          imagem: require('./assets/prod1.jpg')
        },
        {
          titulo: "Brasil: A Última Cruzada",
          previsao: "Final de 2021",
          descricao: `
          <p>Depois de seis episódios, a série "Brasil: A Última Cruzada" ganha um filme.</p>

          <p>Desde o seu descobrimento, há muito o que ser contado sobre o Brasil. 
          Você assistirá à verdadeira história da nossa nação e descobrirá, em poucas horas, tudo o que não lhe foi contado na escola.</p>
          `,
          imagem: require('./assets/prod2.jpg')
        },
        ]
      }
    }
  }
</script>
<style lang="scss">
.back {
  transform: rotateY(180deg);
}
.VueCarousel-navigation-next {
  transform: translateY(110px) translateX(-100%) !important;
  @media only screen and (min-width: 1000px) {
    transform: inherit !important;
  }
}

.VueCarousel-navigation-prev {
  transform: translateY(110px) translateX(100%) !important;
  @media only screen and (min-width: 1000px) {
    transform: inherit !important;
  }
}
</style>
<style lang="scss" scoped>


</style>