<template>
  <section id="newsletter" class="newsletter">
    <div class="container">
      <div class="bg">
        <img class="news-img"src="./assets/newsletterbp.png" alt="">
        <div class="line"></div>
      </div>
      <div class="content">
        <div class="text">
          <div class="title">
            Mantenha-se atualizado
          </div>
          <div class="description">
            Cadastre-se na nossa newsletter para 
            saber mais sobre produções, datas
             de lançamento e outras informações da Brasil Paralelo.
          </div>
        </div>
        <div class="form" action="#newsletter">
          <div class="submitted" v-if="submitted">
            {{name}}, sua inscrição foi feita com sucesso!
          </div>
          <form method="POST" @submit="submit" id="news-letter-home-2019" action="#">
            <input v-model="name" type="text" placeholder="Seu nome" required name="name" id="name" class="name">
            <input v-model="email" type="email" placeholder="Seu email" required name="email" id="email" class="email">
            <button type="submit">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {

  name: 'NewsLetter',
  methods: {
    submit(e) {
      e.preventDefault();      
      setTimeout(() => {
        this.submitted = true
      }, 1000);
    }
  },
  data () {
    return {
      name: '',
      email: '',
      submitted: false
    }
  }
}
</script>

<style lang="scss" scoped>
  $primary: #459aff;
  .submitted {
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    background: #52ac52;
    text-align: center;
    font-size: 1.2em;
  }
  .newsletter {
    margin: 30px 0;
  }
  .contaier {
    position: relative;
  }
  .bg {    
    display: flex;
    align-items: center;        
    img {
      width: 80px; 
      margin: 0 auto 20px auto;
    }
    .line {
      display: none;
    }
    @media only screen and (min-width: 900px) {
      img {
        margin: 0;
      }
      .line {
        display: block;
        height: 40px;
        width: calc(100% - 100px - (35%/2));
        border-width: 2px 2px 0 0;
        border-style: solid;
        margin-left: 20px;
        border-color: #d8d8d8;
        transform: translateY(50%);
      }
      margin: 20px 0;
    }
  }
  .content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    @media only screen and (min-width: 900px) {
      text-align: left;
      margin-top: 30px;
    }

    line-height: 30px;
    .text, button, input {
      font-size: 1.2em;
      @media only screen and (min-width: 900px) {
        font-size: 1.4em;
      }
    }
    .text {
      width: 100%;
      @media only screen and (min-width: 900px) {
        width: 50%;
      }
      .title {
        color: $primary;
        font-weight: 600;
        font-size: 1.4em;
        @media only screen and (min-width: 900px) {
          text-align: left;
          font-size: 1.6em;
        }
      }
      .description {
        color: #979797;
        font-weight: 300;
        margin-top: 20px;
      }
    }
    .form {
      width: 100%;
      @media only screen and (min-width: 900px) {
        width: 35%;
      }
    }
    .form {
      button, input {
        padding: 15px;
        border-radius: 12px;
        display: block;
        outline: none;
        width: 100%;
        border: none;
        color: #fff;
        margin: 10px 0;
      }
      input {
        background: #d8d8d8;
        box-shadow: none;
      }
      button {
        background-color: $primary;
        cursor: pointer;
      }
    }
  }
</style>