<template>
  <footer>
    <div class="container rodape">
      <div class="traco2"></div>
      <div class="flex iconesRodape">
        <a
          href="https://www.youtube.com/channel/UCKDjjeeBmdaiicey2nImISw"
          target="_blank"
        >
          <img
            class=""
            src="./assets/iconPlay.png"
            alt="Icone de play de video"
          />
        </a>

        <a href="https://www.facebook.com/brasilparalelo/" target="_blank">
          <img
            class=""
            src="./assets/iconFacebook.png"
            alt="Icone logo do facebook"
          />
        </a>

        <a
          href="https://www.instagram.com/brasilparalelooficial/"
          target="_blank"
        >
          <img
            class=""
            src="./assets/iconInstagram.png"
            alt="Icone do logo do instagram"
          />
        </a>

        <a href="mailto:contato@brasilparalelo.com.br" target="_blank">
          <img class="" src="./assets/iconEmail.png" alt="Icone de email" />
        </a>

        <a href="https://www.twitter.com/brasil_paralelo" target="_blank">
          <img
            class=""
            src="./assets/iconTwitter.png"
            alt="Icone do logo do twitter"
          />
        </a>
      </div>

      <div class="links">
        <ul>
          <li>
            <a
              href="mailto:contato@brasilparalelo.com.br"
              class="rodape-content corTexto "
              >Fale conosco:<br />
              contato@brasilparalelo.com.br</a
            >
          </li>
        </ul>
      </div>
      <div class="textCenter">
        <a
          class="logo"
          href="https://www.brasilparalelo.com.br"
          target="_blank"
        >
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {}
</script>

<style lang="scss">
.rodape {
  .links {
    width: 90%;
    margin: 0 auto;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        margin: 20px 0;
      }
    }
    @media only screen and (min-width: 1000px) {
      width: 75%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .iconesRodape {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .iconesRodape {
    justify-content: space-around;
    margin: 70px auto 30px auto;
    @media only screen and (min-width: 1000px) {
      max-width: 75%;
      justify-content: flex-start;
      a {
        margin-right: 10px;
      }
    }
  }
}

.traco2 {
  background-color: $Color7;
  height: 1px;
  width: 90%;
  display: block;
  margin: 30px auto;
  @media (min-width: 1300px) {
  }
}

.rodape {
  padding: 40px 0;
}

.corTexto {
  color: #8d8d8d;
}

.logo {
  display: block;
  margin: 50px auto 0 auto;
  background-image: url(./assets/logobp.png);
  height: 46px;
  width: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media all and (min-width: 1200px) {
    background-image: url(./assets/logoNotebook.png);
    width: 266px;
    height: 36px;
    margin: 0 auto;
    background-size: contain;
  }
}
</style>
