<template>
    <section class="teste">
        <div class="container">
            <div class="container textCenter esp_text_Depoimentos"> 
                <p class="title Color5 text_tam_24 font-medium">
                    Pronto para iniciar seu teste gratuito?
                </p>
                <p class="subtitle Color10 esp_text_nucleo text_tam_15 font-roman">
                    Cancele a qualquer momento durante
                    o período de teste e você não será cobrado.
                </p>
                <div class="traco"></div>
            </div>
            <picture>                
                <source srcset="./assets/testeDesktop.png" media="(min-width: 900px)">
                <img src="./assets/testeMobile.png" alt="MDN">
            </picture>
            <div class="cta textCenter">
                <a class="a:hover" href="https://pay.hotmart.com/L8182566P?off=5kney1ro&checkoutMode=10&split=12" target="_blank">Testar agora ></a>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
    picture, img {
        display: block;
        @media only screen and (min-width: 1000px) {
            max-width: 1000px;
        }
        margin: 0 auto;
    }
    .title, .subtitle {
        max-width: 280px;
        @media only screen and (min-width: 1000px) {
            max-width: 480px;
        }
        margin: 0 auto;
    }
    a {
        border-radius: 45px;
        background: transparent;
        border: 1px solid #606060;
        padding: 10px 30px;
        display: inline-block;
        color: #606060;
        font-weight: 600;
        text-decoration: none;
        margin: 45px 0 0 0;
        font-size: 13px;
        @media only screen and (min-width: 1000px) {
            padding: 15px 45px;
            font-size: 25px;
        }
    }
    a:hover {
            color:#0067E0;
            border-color: #0067E0;
    }
</style>