<template>
  <div class="video-bg" :style="styleProp">
    <youtube :video-id="videoId" ref="youtube" @playing="playing"></youtube>
  </div>
    <!-- <iframe  width="100%" height="100%" :src="`https://www.youtube.com/embed/${videoId}?rel=0&ytp-pause-overlay=0`" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" ytp-pause-overlay="0" allowfullscreen rel="0"></iframe> -->
    <!-- <img src="./assets/entrevistas.png" alt="">; -->
</template>

<script>
  export default {
      props: ["videoId", "styleProp"],
      name: "index",
      data () {
          return {
              play: false,
              bg: this.styleProp,
              alreadyClicked: false
          }
      },
      mounted () {
          console.log(this.styleProp)
      },
      computed: {
        player() {
          return this.$refs.youtube.player
        }
      },
      methods: {
          playVideo() {
            this.player.playVideo()
          },
          playing() {
            if (!this.alreadyClicked) {
              this.alreadyClicked = true;
              if (process.client) {
                window.fbq("track", "apertou-play-transmissao-mesa-redonda");
              }
            }
          }
      }
  }
</script>
<style lang="scss">
  .video-bg {
    &, iframe {
      max-width: 450px;
      min-height: 540px;
    }
    @media all and (min-width: 900px)  {
      &, iframe {
        max-width: 662px;
        height: 394px;
        background-size: cover;
      }
      
    }
    @media all and (min-width: 1200px)  {
      &, iframe {
        max-width: 100%;
        height: 450px;
        background-size: cover;
      }
      
    }
    @media all and (min-width: 1600px)  {
      &, iframe {
        width: 100%;
        max-width: 100%;
        height: 594px;
        background-size: cover;
      }
      
    }
  }
</style>
<style lang="scss" scoped>
  .video-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-size: 70%;
    /* background-image: url('./assets/entrevistas.png'); */
    @media only screen and (min-width: 1000px) {
      /* background-image: url('./assets/entrevistaVideo.png'); */
    }
    margin: 0 auto;
    &, iframe {
      max-width: 450px;
      min-height: 540px;
    }
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid #eee;
    svg,img {
      cursor: pointer;
      transition: fill .2s ease-out;
      width: 80px;    
      fill: rgba(0,0,0,.7);
      .st0{
        fill:#FFFFFF;
      }
      .st1{
        fill:#E7E0E0;
      }
      &:hover {
        .st0{
          fill:#FFFFFF;
        }
        .st1{
          fill:#E7E0E0;
        }
        fill: red;
      }
      &.disabled {
        opacity: .6;
        cursor: not-allowed;
      }
    }
    @media all and (min-width: 900px)  {
      &, iframe {
        max-width: 662px;
        height: 394px;
        background-size: cover;
      }
      
    }
    @media all and (min-width: 1200px)  {
      &, iframe {
        max-width: 100%;
        height: 450px;
        background-size: cover;
      }
      
    }
    @media all and (min-width: 1600px)  {
      &, iframe {
        width: 100%;
        max-width: 100%;
        height: 594px;
        background-size: cover;
      }
      
    }
  }
</style>


