<template>
  <header>
    <div class="textCenter container header-content">
      <div class="nav">
        <a href="https://members.brasilparalelo.com.br" target="_blank">
          Área de Membros
        </a>
      </div>
      <div class="cta-container">
        <img
          class="logo-BP"
          src="./assets/logo-BP.png"
          alt="Logo da Brasil Paralelo"
        />
        <h1 class="Color1 text_tam_32">
          Nunca mais seja<br />massa de manobra
        </h1>
        <h2 class="Color3 esp_text_header text_tam_22">
          A tecnologia que mudou a educação política.
        </h2>
        <a
          target="_blank"
          href="https://pay.hotmart.com/L8182566P?off=5kney1ro&checkoutMode=10&split=12"
          class="Color6 text_tam_16"
          >Comprar agora>
        </a>
      </div>
      <div class="platform-mockup">
        <picture>
          <source
            media="(min-width: 1000px)"
            srcset="~/assets/images/mockup.webp"
            type="image/webp"
          />
          <source
            media="(min-width: 1000px)"
            srcset="~/assets/images/mockup.png"
            type="image/png"
          />

          <source
            srcset="~/assets/images/mockup-mobile.webp"
            type="image/webp"
          />
          <source srcset="~/assets/images/mockup-mobile.png" type="image/png" />

          <img src="~/assets/images/mockup-mobile.webp" />
        </picture>
      </div>
    </div>
    <BfModal />
  </header>
</template>

<script>
import BfModal from '@/components/BlackFridayModal.vue'
export default {
  name: 'Aheader',
  components: {
    BfModal
  }
}
</script>
<style lang="css">
@import url('https://use.typekit.net/eup5jcd.css');
</style>
<style lang="scss" scoped>
header {
  background: #202020;
  background-image: url('../../assets/images/header-mobile.webp');
  background-image: url('../../assets/images/header-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding: 80px 0 0 0;
  .cta-container {
    margin: auto;
  }
  .platform-mockup {
    max-width: 580px;
    @media only screen and (min-width: 1600px) {
      max-width: 1100px;
    }
  }
  .header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    text-align: center;
    padding: 20px 30px 0 30px;
    z-index: 99;
    @media only screen and (min-width: 1000px) {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
    a {
      display: flex;
      text-decoration: none;
      padding: 15px;
      border-radius: 35px;
      border: 1px solid #459aff;
      color: #459aff;
      justify-content: center;
      align-items: center;
      word-break: break-all;
    }
  }
  h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 36px;
  }
  @media all and (min-width: 1000px) {
    .nav {
      padding: 30px;
    }
    background-image: url('../../assets/images/header.jpg');
    background-image: url('../../assets/images/header.webp');
    justify-content: space-evenly;
    height: 100vh;
    .cta-container {
      width: 620px;
      margin: 0 auto;
      text-align: center;
      a:first-of-type {
        /* margin-right: 60px; */
      }
    }
  }
}

.logo-BP {
  height: 41px;
  margin: 20px auto;
  display: block;
  @media all and (min-width: 1200px) {
    height: 52px;
  }
}

.esp_text_header {
  padding: 12px 0;
}
</style>
