<template>
    <header>
        <div class="container">
            <div class="logo-transmissao">
                <img src="../Body/assets/logo_transmissao.png" alt="">
            </div>
            <div class="title textCenter">
                <h1>Sala de transmissão</h1>
                <p>Aperte o play e assista agora</p>
            </div>
            <div class="sala">
                <Video :videoId="videoId || 'gmH_HNMol5I'"/>
                <aside>
                    <div class="plan">
                        <div class="body">
                            <div class="plan-title">
                                <!-- Quer mais programas como esse e ainda acessar: -->
                                Educação política com qualidade cinematográfica.
                            </div>
                            <div class="plan-features">
                                <ul>
                                    <li> <span>Todos os cursos do Núcleo de Formação.</span></li>
                                    <li> <span>Dezenas de documentários.</span></li>
                                    <li> <span>Programa Investigação Paralela.</span></li>
                                    <li> <span>+300 entrevistas exclusivas.</span></li>
                                    <li> <span>Programa Mesa Redonda.</span></li>
                                    <li> <span>Comunidade de Membros.</span></li>
                                    <li> <span>Eventos presenciais.</span></li>
                                    <li> <span>Podcasts sobre a cultura pop.</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer textCenter">
                            <div class="preco-container">
                                <div class="preco-velho">
                                    De: <span class="preco"> R$80,00</span> /mês (pago anualmente)
                                </div>
                                <div class="preco-novo">
                                    Por: <span class="preco">R$ 57,90</span> /mês (pago anualmente)
                                </div>
                            </div>
                            <!-- <div class="cta-transmissao">
                                <a target="_blank" href="https://pay.hotmart.com/L8182566P?off=q3w74zh9&checkoutMode=10&split=12&bid=1576514156728">Experimente grátis por 7 dias</a>
                            </div> -->
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </header>
</template>

<script>
import Video from '../Body/Video'
export default {
    components: {
        Video
    },
    props: ['videoId']
}
</script>
<style lang="scss" scoped>
header {
    background: #000;
    color: #fff;
    padding: 20px;
    .sala {
        display: flex;
        flex-wrap: wrap;
        .video-bg {
            width: 100%;
            &, iframe {                
                min-height: 480px;
            }
            @media only screen and (min-width: 1000px) {
                width: calc(75% - 10px);
            }
            border: none !important;
            @media only screen and (min-width: 1000px) {
                margin-right: 10px;                
            }            
        }
        aside {
            width: 100%;
            max-width: 450px;
            min-height: 480px;
            @media only screen and (min-width: 1000px) {
                width: 25%;
            }
            @media all and (min-width: 900px)  {   
                height: 394px;
            }
            @media all and (min-width: 1200px)  {            
                height: 450px;
            }
            @media all and (min-width: 1600px)  {
                height: 594px;        
            }
        }
    }
    .title {
        padding: 10px; 
        h1 {
            font-weight: 600;
            font-size: 16px;
            @media only screen and (min-width: 1000px) {
                font-size: 32px;
            }

        }
        p {
            font-size: 12px;
            @media only screen and (min-width: 1000px) {
                font-size: 16px;
            }
        }
    }
    .logo-transmissao {
        max-width: 40px;
    }
    .plan {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #3D3D3D;
        .plan-title {
            font-weight: 600;
            font-size: 18px;
            @media only screen and (min-width: 1000px) {
                font-size: 22;
            }
        }
        .body {
            padding: 25px;            
            ul {
                padding: 0;
                margin-top: 20px;       
                list-style-type: none;
                li {
                    color: #999999;
                    position: relative;
                    margin: 12px 0;
                    &:before {
                        content: " ";
                        display: block;
                        width: 20px;
                        height: 20px;
                        float: left;
                        margin-right: 0px;
                        background-image: url('../Body/assets/seta.png');
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        .footer {
            padding: 25px;
            background-color: #555555;
            .preco-container {
                font-size: 13px;
            }
            .preco-velho {
                 text-decoration: line-through;
                 .preco {
                     font-size: 15px;
                 }
            }
            .preco-novo {
                .preco {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
            a {
                padding: 10px 15px;
                border-radius: 35px;
                background: transparent;
                border: 3px solid #3a94fe;
                text-decoration: none;
                color: #489CFF;
                text-align: center;
                display: inline-block;
                margin: 15px auto 5px auto;
            }
        }
    }
}

</style>