<template>
  <div class="bf-modal">
    <a href="https://materiais.brasilparalelo.com.br/cadastro-patria-educadora?utm_source=banner_organic&utm_medium=banner&utm_campaign=patria-educadora&utm_content=banner_home" target="_blank" class="bf-link">
      <img src="../assets/images/bf-mobile.png">
    </a>
    <div class="bf-modal-content">
      <a class="transmissao-link" href="https://materiais.brasilparalelo.com.br/cadastro-patria-educadora?utm_source=banner_organic&utm_medium=banner&utm_campaign=patria-educadora&utm_content=banner_home" target="_blank">
        <vue-video-section
          :elementId="'header-background-video'"
          :ref="'header-background-video'"
          :webmSource="require('./debates.webm')"      
          :mobileBreakpoint="992"
          :desktopHeight="654"
          :mobileHeight="450"
          :playsinline="true"
          :loop="false"
          :autoplay="true"
          :autobuffer="true"
          :muted="true"
        >
        </vue-video-section>
      </a>
    </div>
  </div>
</template>

<script>
export default {

  name: 'BlackFridayModal',
  computed: {
    tomorrow() {
      const now = new Date();
      now.setDate(now.getDate() + 1)
      return now;
    }
  },
  data () {
    return {

    }
  }
}
</script>
<style lang="scss">
#header-background-video {
  width: auto;
  max-width: auto;
  height: 100vh;
  cursor: pointer;
}
.vue-video-section {
  position: relative;
  &:before {
    moz-box-shadow:    5px 0 50px 6px black;
    -webkit-box-shadow: 5px 0 50px 6px black;
    box-shadow:         5px 0 50px 6px black;
    position: absolute;
    content: " ";
    display: block;    
    left: 0;
    right: 0;
    bottom: 5px;
    width: 100%;
    height: 100%;
    z-index: 22;
  }
}
</style>
<style lang="scss" scoped>
  .bf-modal {    
    top: 0;
    left: 0;
    width: 100%;    
    z-index: 100;
    position: fixed;
    .transmissao-link {
      display: block;
      text-decoration: none;
      position: absolute;
      top: 0;
      right: 0;
    }
    .bf-link {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
    }
    .bf-modal-content {
      display: none;
    }
    .countdown-container {
      width: 317px;
      height: 102px;
      background-image: url('../assets/images/bf-contador.png');
      background-repeat: no-repeat;
      margin: 0 auto;
      span {
        display: flex;
        width: 260px;
        margin: 0px auto 0 auto;
        padding-top: 25px;
        .time-slot {
          color: #fff;
          width: 85px;
          text-align: center;
          font-size: 2em;
          color: #00b2ee;
          font-weight: 600;
        }
      }
    }
    @media only screen and (min-width: 768px) {
      z-index: 97;      
      position: absolute;
      top: 0;
      right: 0;
      left: unset;
      width: 387px;
      height: 654px;
      /* background-image: url("../assets/images/bf-banner.png");
      background-size: cover; */
      /* &:before {
        display: block;
        content: " ";
        width: 91px;
        height: 100vh;
        position: absolute;
        left: -45px;
        top: 0;
        background-position: center center;
        background-size: 91px 100vh;
        background-image: url("../assets/images/bf-glow.png");
        background-repeat: no-repeat;
      } */
      .bf-link {
        display: none;
      }      
      .bf-modal-content {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;        
        .image {
          max-width: 330px;
          margin: 0 auto;        
        }
        .title {
          color: #fff;
          font-size: 1.6em;
        }
        .register {
          color: #00b7f3;
          font-size: 1.6em;
          margin: 10px 0;
        }
        .cta {
          display: inline-block;
          font-weight: 600;
          color: #000;
          background-color: #00c1ff;
          padding: 10px 65px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 27px;
          font-size: 1.25em;
          margin-top: -10px;
          margin-bottom: 20px;
        }
        .limited {
          color: #444;
          font-size: 1.3em;
        }
      }
    }
    @media only screen and (min-width: 1500px) {
      width: 594px;
      .bf-modal-content {
        .image {
          max-width: 460px;          
        }
        .title {
          font-size: 2.1em;
        }
        .register {
          font-size: 2.1em;
          margin: 30px 0;
        }
        .cta {
          background-color: #00c1ff;
          padding: 15px 65px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 27px;
          font-size: 1.45em;          
        }
        .limited {
          color: #444;
          font-size: 1.3em;

        }
      }
    }
  }

</style>