<template>
    <div>
        <HeaderTransmissao/>
        <ConteudosBP/>
        <BeneficiosAssinatura/>
        <Cinema/>
        <Depoimentos/>
        <!-- <Comentarios/> -->
        <Teste/>
        <Cursos/>        
        <Entrevistados/>
        <!-- <Lancamentos/> -->
        
        <Rodape/>
    </div>
</template>
<script>
import HeaderTransmissao from "@/components/Transmissao/HeaderTransmissao"
import ConteudosBP from "@/components/Body/ConteudosBP"
import BeneficiosAssinatura from "@/components/Body/BeneficiosAssinatura"
import Cinema from "@/components/Body/Cinema"
import Depoimentos from "@/components/Body/Depoimentos"
import Cursos from "@/components/Body/Cursos"
import Rodape from "@/components/Body/Rodape"
import Lancamentos from "@/components/Body/Lancamentos"
import Entrevistados from "@/components/Body/Entrevistados"
import Teste from "@/components/Body/Teste"
import Comentarios from "@/components/Body/Comentarios"

export default {
    name: 'transmissao',
    layout: 'default',
    components: {
        HeaderTransmissao,
        ConteudosBP,
        BeneficiosAssinatura,
        Cinema,
        Depoimentos,
        Cursos,
        Rodape,
        Lancamentos,
        Entrevistados,
        Teste,
        Comentarios,
    },
    data() {
        return {}
    },
    head: {
   
        title: "Brasil Paralelo - Transmissão Mesa Redonda",
        htmlAttrs: {
            lang: "pt-BR"
        },
        meta: [{
            charset: "utf-8"
        }, {
            hid: "viewport",
            name: "viewport",
            content: "width=device-width, initial-scale=1"
        }, {
            hid: "og:site_name",
            name: "og:site_name",
            content: "Brasil Paralelo"
        }, { 
            hid: "og:url",
            name: 'og:url',
            content: 'https://brasilparalelo.com.br' 
        }, {
            hid: "og:image",
            name: 'og:image',
            content: 'https://brasilparalelo.com.br/_nuxt/img/4638014.jpg' 
        }, {
            hid: "og:locale",
            name: "og:locale",
            content: "pt_BR"
        }],
        link: [{
            rel: "icon",
            type: "image/x-icon",
            href: "/favicon.ico"
        }],
        link: [
          { rel: 'stylesheet', href: 'https://use.typekit.net/eup5jcd.css' }
        ]
      },
}
</script>

<style lang="scss">
    body {
        
    }
</style>
