<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">
        paginas_bp
      </h1>
      <h2 class="subtitle">
        Sites
      </h2>
      <div class="links">
        <a href="https://nuxtjs.org/" target="_blank" class="button--green">
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
}
</script>

<style>

</style>
