<template>
  <div>
    <Header />
    <ConteudosBP />
    <BeneficiosAssinatura />
    <Newsletter />
    <Cinema />
    <Depoimentos />
    <!-- <Comentarios/> -->
    <!--<Teste/> -->
    <Cursos />
    <Entrevistados />
    <Lancamentos />
    <Rodape />
  </div>
</template>
<script>
import Header from '@/components/Transmissao/HeaderImage'
import ConteudosBP from '@/components/Body/ConteudosBP'
import BeneficiosAssinatura from '@/components/Body/BeneficiosAssinatura'
import Cinema from '@/components/Body/Cinema'
import Depoimentos from '@/components/Body/Depoimentos'
import Cursos from '@/components/Body/Cursos'
import Rodape from '@/components/Body/Rodape'
import Newsletter from '@/components/Body/NewsLetter'
import Lancamentos from '@/components/Body/Lancamentos'
import Entrevistados from '@/components/Body/Entrevistados'
import Teste from '@/components/Body/Teste'
import Comentarios from '@/components/Body/Comentarios'

export default {
  name: 'transmissao',
  layout: 'default',
  components: {
    Header,
    ConteudosBP,
    BeneficiosAssinatura,
    Cinema,
    Depoimentos,
    Cursos,
    Rodape,
    Lancamentos,
    Entrevistados,
    Teste,
    Comentarios,
    Newsletter
  },
  data() {
    return {}
  }
}
</script>

<style lang="scss">
body {
}
</style>
